body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#bfddf3;
}

/* Cabeçalho */

header{
    background:#3e77b6;
    color:white;
    text-align:center;
    padding:20px;
}

header h1{
    margin:0;
}

/* Menu */

nav{
    background:#f38f00;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 18px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#5a2d00;
}

/* Conteúdo */

.container{
    width:85%;
    margin:35px auto;
}

/* Títulos */

h2{
    color:#3e77b6;
    text-align:center;
}

/* Cards */

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    padding:20px;
    text-align:center;
}

.card img{
    width:170px;
    height:250px;
    object-fit:cover;
}

.card h3{
    color:#3e77b6;
}

.card p{
    font-size:18px;
    font-weight:bold;
}

/* Botões */

button{
    background:#f38f00;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#ffa12b;
}

/* Formulários */

form{
    background:white;
    width:450px;
    margin:auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    box-sizing:border-box;
}

/* Tabelas */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

th{
    background:#3e77b6;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#f4f4f4;
}

tr:hover{
    background:#ffe0b3;
}

/* Área de botões do admin */

.acoes{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
    flex-wrap:wrap;
}

/* Rodapé */

footer{
    margin-top:40px;
    background:#3e77b6;
    color:white;
    text-align:center;
    padding:18px;
}

.slogan{
    margin-top:8px;
    font-size:18px;
    font-style:italic;
    color:white;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

nav a{
    padding:8px 12px;
    border-radius:8px;
    transition:0.3s;
}

nav a:hover{
    background:white;
    color:#f38f00;
}

footer p{
    margin:5px;
}