{% extends "base.html" %}

{% block title %}
Administração
{% endblock %}

{% block content %}

<h2>⚙ Painel Administrativo</h2>

<p style="text-align:center;">
    Bem-vindo, <strong>{{ usuario }}</strong> 👋
</p>

<div class="dashboard-cards">

    <div class="dashboard-card">
        <h3>📚 Total de Livros</h3>
        <p>{{ total }}</p>
    </div>

    <div class="dashboard-card">
        <h3>💰 Preço Médio</h3>
        <p>R$ {{ "%.2f"|format(valor_medio) }}</p>
    </div>

    <div class="dashboard-card">
        <h3>⭐ Livro Mais Caro</h3>
        <p>
            {% if livro_caro %}
                {{ livro_caro.titulo }}
            {% endif %}
        </p>
    </div>

</div>
<br>

<div class="acoes">

    <a href="/cadastrar_livro">
        <button>➕ Cadastrar Livro</button>
    </a>

    <a href="/pesquisar_livro">
        <button>🔎 Pesquisar</button>
    </a>

    <a href="/logout">
        <button>🚪 Sair</button>
    </a>

</div>

<table>

    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Preço</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>

    {% for livro in livros %}

    <tr>

        <td>{{ livro.id }}</td>

        <td>{{ livro.titulo }}</td>

        <td>{{ livro.autor }}</td>

        <td>R$ {{ livro.preco }}</td>

        <td>
            <a href="/editar_livro/{{ livro.id }}">
                ✏️
            </a>
        </td>

        <td>
            <a href="/excluir_livro/{{ livro.id }}">
                🗑️
            </a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}