{% extends "base.html" %}

{% block title %}
Cadastro
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2>📝 Cadastro</h2>

        <p>
            Crie sua conta no Portal das Letras
        </p>

        {% if erro %}
        <div style="
            background:#ffd6d6;
            color:#a00000;
            padding:10px;
            border-radius:8px;
            margin-bottom:15px;">
            {{ erro }}
        </div>
        {% endif %}

        <form method="POST">

            <input
                type="text"
                name="nome"
                placeholder="Nome completo"
                required>

            <input
                type="email"
                name="email"
                placeholder="Email"
                required>

            <input
                type="password"
                name="senha"
                placeholder="Senha"
                required>

            <input
                type="password"
                name="confirmar"
                placeholder="Confirmar senha"
                required>

            <button type="submit">
                Cadastrar
            </button>

        </form>

        <br>

        <a href="/login">
            Já possui conta? Entrar
        </a>

    </div>

</div>

{% endblock %}