<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">

<title>Cadastrar Livro</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

<h1>📚 Portal das Letras</h1>

</header>

<nav>

<a href="/">Home</a>

<a href="/produtos">Livros</a>

<a href="/admin">Admin</a>

</nav>

<div class="container">

<h2>Cadastrar Livro</h2>

<form method="POST">

<input
type="text"
name="titulo"
placeholder="Título"
required>

<input
type="text"
name="autor"
placeholder="Autor"
required>

<input
type="text"
name="preco"
placeholder="Preço"
required>

<button type="submit">

Salvar Livro

</button>

</form>

</div>

<footer>

© 2026 Portal das Letras

</footer>

</body>
</html>