{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- BANNER -->

<div class="banner">

    <h2>Bem-vindo ao Portal das Letras</h2>

    <p>
        Onde cada página abre um novo mundo.
    </p>

    <a href="/produtos">
        <button>
            Explorar Livros
        </button>
    </a>

</div>

<!-- PESQUISA -->

<div class="pesquisa">

    <h2>Encontre seu próximo livro</h2>

    <input
        type="text"
        placeholder="Pesquisar livros...">

</div>

<!-- CATEGORIAS -->

<h2 class="titulo-secao">

    Categorias

</h2>

<div class="categorias">

    <div class="categoria">

        📖

        <h3>Romance</h3>

    </div>

    <div class="categoria">

        ⚡

        <h3>Fantasia</h3>

    </div>

    <div class="categoria">

        💻

        <h3>Tecnologia</h3>

    </div>

    <div class="categoria">

        🎓

        <h3>Educação</h3>

    </div>

</div>

<!-- LIVROS EM DESTAQUE -->

<h2 class="titulo-secao">

    Livros em Destaque

</h2>



    <div class="cards">

    <div class="card">

        <img src="https://m.media-amazon.com/images/I/81iqZ2HHD-L.jpg">

        <h3>Harry Potter e a Pedra Filosofal</h3>

        <p>J. K. Rowling</p>

        <p><strong>R$59,90</strong></p>

        <button>Comprar</button>

    </div>

    <div class="card">

        <img src="https://m.media-amazon.com/images/I/81hCVEC0ExL.jpg">

        <h3>O Senhor dos Anéis</h3>

        <p>J. R. R. Tolkien</p>

        <p><strong>R$89,90</strong></p>

        <button>Comprar</button>

    </div>

    <div class="card">

        <img src="https://m.media-amazon.com/images/I/91SZSW8qSsL.jpg">

        <h3>1984</h3>

        <p>George Orwell</p>

        <p><strong>R$44,90</strong></p>

        <button>Comprar</button>

    </div>

</div>

<!-- VANTAGENS -->

<h2 class="titulo-secao">

    Por que escolher o Portal das Letras?

</h2>

<div class="cards">

    <div class="card">

        <div style="font-size:60px;">
            📚
        </div>

        <h3>
            Grande Catálogo
        </h3>

        <p>
            Mais de 25 títulos disponíveis para todos os gostos.
        </p>

    </div>

    <div class="card">

        <div style="font-size:60px;">
            🚚
        </div>

        <h3>
            Entrega Rápida
        </h3>

        <p>
            Receba seus livros com rapidez e segurança.
        </p>

    </div>

    <div class="card">

        <div style="font-size:60px;">
            ⭐
        </div>

        <h3>
            Qualidade
        </h3>

        <p>
            Os melhores títulos nacionais e internacionais.
        </p>

    </div>

</div>

{% endblock %}