<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Pesquisar Livro</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

<h1>📚 Portal das Letras</h1>

</header>

<nav>

<a href="/">Home</a>

<a href="/produtos">Livros</a>

<a href="/admin">Admin</a>

</nav>

<div class="container">

<h2>Pesquisar Livro</h2>

<form method="POST">

<input
type="text"
name="busca"
placeholder="Digite o título do livro">

<button type="submit">

Pesquisar

</button>

</form>

<br>

<table>

<tr>

<th>ID</th>

<th>Título</th>

<th>Autor</th>

<th>Preço</th>

</tr>

{% for livro in resultado %}

<tr>

<td>{{ livro.id }}</td>

<td>{{ livro.titulo }}</td>

<td>{{ livro.autor }}</td>

<td>R$ {{ livro.preco }}</td>

</tr>

{% endfor %}

</table>

</div>

<footer>

© 2026 Portal das Letras

</footer>

</body>
</html>