{% extends "base.html" %}

{% block title %}
Livros
{% endblock %}

{% block content %}

<h2>Catálogo de Livros</h2>

<div class="pesquisa-produtos">

<input
type="text"
placeholder="Pesquisar livros...">

<br><br>

<a href="/admin">
<button>
⚙ Administração
</button>
</a>

</div>

<div class="produtos-grid">

{% for livro in livros %}

<div class="produto">

<h3>{{ livro.titulo }}</h3>

<p>
✍ {{ livro.autor }}
</p>

<p class="estrelas">
★★★★★
</p>

<p class="estoque">
📦 Em estoque
</p>

<p class="preco">
R$ {{ livro.preco }}
</p>

<button>
🛒 Comprar
</button>

</div>

{% endfor %}

</div>

{% endblock %}