<!DOCTYPE html>
<html>
<head>
    <title>Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>📚 Portal das Letras</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/produtos">Livros</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
        <a href="/login">Login</a>
    </nav>

    <h2>Nossos Livros</h2>

    <div class="livros">

        <div class="card">
            <h3>Dom Casmurro</h3>
            <p>Machado de Assis</p>
            <p>R$ 39,90</p>
        </div>

        <div class="card">
            <h3>O Pequeno Príncipe</h3>
            <p>Antoine de Saint-Exupéry</p>
            <p>R$ 29,90</p>
        </div>

        <div class="card">
            <h3>Harry Potter</h3>
            <p>J. K. Rowling</p>
            <p>R$ 59,90</p>
        </div>

    </div>

</body>
</html>