<!DOCTYPE html>
<html>
<head>
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>📚 Portal das Letras</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/sobre">Sobre</a>
    <a href="/contato">Contato</a>
</nav>

<div class="container">
    <h2>Sobre Nós</h2>

    <p>
        A Livraria Online foi criada para oferecer os melhores livros aos nossos clientes,
        proporcionando conhecimento e entretenimento.
    </p>
</div>

<footer>
    © 2026 Livraria Online
</footer>

</body>
</html>